p {
    color:red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 72px;
}

button{
    height: 40px;
    width: 100px;
    background-color: green;
    color:whitesmoke;
    border-radius: 10px;
    border: none;
}

button:hover{
    background-color: blue;
    color: black;
}